@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


:root {
    --bg-color: #081629;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background: var(--bg-color); 
    color: var(--text-color);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}
.header.sticky {
    background: var(--bg-color);
}
.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}
.navbar {
    position: relative;
}
.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 2.8rem;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url('https://i.ibb.co.com/7r8F35s/homebg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 60rem;
    z-index: 99;
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content h1 span {
    color: var(--main-color);
}

.home-content .text-animate {
    position: relative;
    width: 29.2rem;
}
.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -30rem 0;

}
.home.show-animate .home-content .text-animate h3 {
    animation: homeBgtext 6s linear infinite;
    transition-delay: 2s; 
}
.home-content .text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursortext 6s linear infinite;
    transition-delay: 2s;
}
.home.show-animate .home-content .text-animate h3::before {
    animation: homeCursortext 6s linear infinite;
    transition-delay: 2s;
}

.home-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}
.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
    color: var(--main-color);
}
.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}
.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}
.btn-box .btn:nth-child(2)::before {
    background: var(--main-color);
 }

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}
 .btn-box .btn:hover::before {
    width: 100%;
}

/*.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}


.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}


.home-sci a:hover {
    color: var(--bg-color);
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before {
    width: 100%;
}*/

.wrapper {
    display: inline-flex;
    position: absolute;
    bottom: 3rem;
    width: 170px;
    justify-content: space-between;
}
.wrapper .icon {
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}
.wrapper .icon span {
    display: block;
    height: 40px;
    width: 40px;
    color: var(--main-color);
    background: var(--second-bg-color);
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0 1rem 10px rgba(0, 0, 0, 0.4);
    transition: .4s ease-in-out;
}
.wrapper .icon span i {
    line-height: 40px;
    font-size: 20px;
}
.wrapper .icon .tooltip {
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 10px 18px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.wrapper .icon:hover .tooltip {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
    transition: .4s cubic-bezier(0.68, -0.55, 0.68, 1.55);
}
.icon .tooltip::before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background: inherit;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
}
.wrapper .icon:hover span {
    color: #fff;
}
.wrapper .icon:hover span, .wrapper .icon:hover .tooltip {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
}
.wrapper .facebook:hover span, .wrapper .facebook:hover .tooltip {
    background: #3b5999;
}

.wrapper .github:hover span, .wrapper .github:hover .tooltip {
    background: #333;
}

.wrapper .linkedin:hover span, .wrapper .linkedin:hover .tooltip {
    background: #0077B5;
}


.home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: 3s;
}
.home-imgHover:hover {
    background: var(--bg-color);
    opacity: .5;
}




.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}
.heading {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: var(--main-color);
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}

.about-content {
    text-align: center;
}
 .about-content h3 {
    position: relative;
    display: inline-block;
    font-size: 2.6rem;
}
.about-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}
.btn-box.btns a::before {
    background: var(--second-bg-color);
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}
.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
 .education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}
.education-column .education-box {
    position: relative;
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}
.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}
.education-content .content:hover::before {
    width: 100%;
}


.education-content .content.year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}


.education-content .content year i {
    padding-right: .5rem;
}
.education-content .content h3 {
    font-size: 2rem;
}
.education-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}

.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
}
.skills h2 {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}
.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.skills-row .skills-column {
    flex: 1 1 40rem;
}
.skills-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}
.skills-column .skills-box {
    position: relative;
}
.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
}
.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}
.skills-box .skills-content:hover::before {
    width: 100%;
}
.skills-content .progress {
    padding: 1rem 0;

}
.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}
.skills-content .progress h3 span {
    color: var(--text-color);
}
.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}
.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 85%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 90%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 60%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 85%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 50%;
}


/* -------- Our Team Expert ----------*/
.team-heading {
    width: 100%;
    text-align: center;
    padding-top: 100px ;
    padding-bottom: 40px;
}

.team-heading   h1 {
    font-size: 38px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

.team-heading   p {
    font-weight: 600;
    font-size: 16px;
    color: gray;
    margin: 0% 20% ;
}

.team-container {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team {
    width: 15%;
    height: 400px;
    min-width: 300px;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
    border: 1px solid white;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    margin: 2% 1%;
}

.team:hover .team-front-side {
    transform: translatey(-100%);
    
}

.team-front-side {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background: white;
    border-radius: 25px;
    transition: 1s;
}

.team-container div:nth-child(1) div:first-child {
    background: url(/images/team1.jpg);
    background-size: cover;
}

.team-container div:nth-child(2) div:first-child {
    background: url(/images/team2.jpg);
    background-size: cover;
}

.team-container div:nth-child(3) div:first-child {
    background: url(/images/team3.jpeg);
    background-size: cover;
}

.team-container div:nth-child(4) div:first-child {
    background: url(/images/team4.png);
    background-size: cover;
}

.team-front-side div {
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, .6) !important;
    position: absolute;
    bottom: 0px;
    text-align: center;
    padding: 10px 0px;
    transition: 2s;
}

.team:hover .team-front-side div {
    transform: translatex(100%);

}


.team-front-side div h1 {
    font-size: 20px;
    color: white;
}
.team-front-side div p {
    font-size: 15px;
    color: whitesmoke;
    margin-top:5px;

}
.team-back-side {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 10%;
    box-sizing: border-box;
    position: absolute;
}

.team-back-side img {
    width: 180px;
    height:180px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .2);
    margin-bottom: 10px;
}

.team-back-side h1 {
    font-size: 22px;
}

.team-back-side p {
    font-weight: 600;
    color: gray;
    font-size: 16px;
    margin: 10px 0px 20px 0px;
}


.team-back-side i {
    width: 40px;
    height: 40px;
    background: whitesmoke;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    margin: 2%;
    text-align: center;
    color: gray;
}

.team-back-side a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.team-back-side i:hover {
    color: white;
    background: black;
    transition: 1s;
    transform: scale(1.1);
}

/* team section close */

.textimonial {
    background: var(--second-bg-color);
}
.testimonial-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem 1rem;
    
 }
.testimonial-container .testimonial-wrapper {
    position: relative;
    max-width: 90rem;
    width: 100%;
    padding: 5rem;
 }

.testimonial-wrapper .testimonial-box {
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;
}

.testimonial-content .testimonial-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    padding: 3rem 5rem;
    border-top: .8rem solid var(--main-color);
    border-bottom: .8rem solid var(--main-color);
}
.testimonial-slide i {
    font-size: 20px;
    color: yellow;
    margin: .5rem 0;
}

.testimonial-slide img {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 50%;
    border: .5rem solid var(--bg-color);
    outline: .5rem solid var(--main-color);
}
.testimonial-slide h3 {
    font-size: 2.5rem;
    margin: 1rem 0;
}
.testimonial-slide p {
    font-size: 1.4rem;
    text-align: center;
}

.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev {
    color: var(--main-color);
}

.testimonial-box .swiper-button-next {
    right: 0;
}
.testimonial-box .swiper-button-prev {
    left: 0;
}
.testimonial-box .swiper-pagination-bullet {
    background: white;
}

.testimonial-box .swiper-pagination-bullet-active {
    background: var(--main-color);
}



.contact {
    min-height: auto;
    padding-bottom: 7rem;
}
.contact h2 {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}
.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}
.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}
.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}
.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;
}
.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}
.contact form .textarea-field textarea {
    resize: none;
}
.contact form .btn-box.btns .btn {
    cursor: pointer;
}

/*Sms sector*/
.input-field.error .item {
    border-color: #d93025;
}
.input-field .error-text {
    font-size: 14.5px;
    color: #d93025;
    text-align: left;
    margin: -1px 0 10px;
    display: none;
}
.input-field.error .error-text {
    display: block;
}

/*collect footer*/
#footer-section {
    min-height: auto;
    padding-bottom: 7rem;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
#footer-section .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
#footer-section .content {

    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    margin: 10 0 1rem;

}
.add {
    margin-left: -10px;
}

#footer-section h5{
    padding-left: 10px;
    border-left: 4px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    font-size: 20px;
    color:#ffffff;
}
#footer-section a {
    color: #ffffff;

    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}


#footer-section ul.quick-links li a{
    color:#ffffff;
    list-style: none;
}

#footer-section ul.quick-links li{
    padding: 3px 0;
    list-style: none;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer-section ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    list-style: none;
    font-weight:700;
}
#footer-section ul.quick-links li a i{
    margin-right: 5px;
}
#footer-section ul.quick-links li:hover a i {
    font-weight: 700;
}
.wrapperr {
    display: inline-flex;
/*    position: absolute;*/
    bottom: 3rem;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.wrapperr .iconn {
    margin: 20px 0 0 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}
.wrapperr .iconn span {
    display: block;
    height: 40px;
    width: 40px;
    color: var(--main-color);
    background: var(--second-bg-color);
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0 1rem 10px rgba(0, 0, 0, 0.4);
    transition: .4s ease-in-out;
}
.wrapperr .iconn span i {
    line-height: 40px;
    font-size: 25px;
}
.wrapperr .iconn .tooltipp {
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 10px 18px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.wrapperr .iconn:hover .tooltipp {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
    transition: .4s cubic-bezier(0.68, -0.55, 0.68, 1.55);
}
.iconn .tooltipp::before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background: inherit;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
}
.wrapperr .iconn:hover span {
    color: #fff;
}
.wrapperr .iconn:hover span, .wrapperr .iconn:hover .tooltipp {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
}
.wrapperr .facebookk:hover span, .wrapperr .facebookk:hover .tooltipp {
    background: #3b5999;
}

.wrapperr .twitter:hover span, .wrapperr .twitter:hover .tooltipp {
    background: #1DA1F2;
}

.wrapperr .instagram:hover span, .wrapperr .instagram:hover .tooltipp {
    background: rgb(232,73,99);
}
.wrapperr .google:hover span, .wrapperr .google:hover .tooltipp {
    background: #dd4b39;
}
.wrapperr .mail:hover span, .wrapperr .mail:hover .tooltipp {
    background: #bb001b;
}



.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-text,
.footer-iconTop {
    position: relative;
}
.footer-text p {
    font-size: 1.6rem;
}
.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}
.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}
.footer-iconTop a:hover::before {
    width: 100%;
}
.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}
.footer-iconTop a:hover i {
    color: var(--main-color);
}

/*Animation Reload And Scroll*/

.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 98;
}
.animate.home-img {
    width: 50%;
}
.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate  {
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.animate.scroll {
    transition: .5s ease;
    transition-delay: calc(.2s / var(--i));
    animation: none;

}
section:nth-child(odd) .animate.scroll
/*.footer .animate.scroll*/ {
    background: var(--second-bg-color);
}

.education .education-box .animate.scroll {
    width: 105%;
}
.about.show-animate .animate.scroll,
.education.show-animate .animate.scroll,
.skills.show-animate .animate.scroll,
.contact.show-animate .animate.scroll
/*.footer.show-animate .animate.scroll*/ {
    transition-delay: calc(.2s * var(--i));
    width: 0;
}


/*Mobile Responsive*/

@media (max-width: 1200px) {
    html {
        font-size: 55%; 
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }
    section {
        padding: 10rem 4% 2rem;
    }
    .home {
        padding: 0 4%;
    }
    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width: 850px) {
    .animate.home-img {
        width: 55%;
    }
}

@media (max-width: 768px) {
    .header {
        background: var(--bg-color);
    }
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }
    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }
    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }
    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }
    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }
    .home-imgHover {
        pointer-events: none;
        background: var(--bg-color);
        opacity: .6;
    }
    #footer-section, .container {
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

    }
    #footer-section h5 {
        border: none;
        padding-top: 10px;
    }
    .map {
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 50%;
    }
    .home-content h1 {
        display: flex;
        flex-direction: column;
    }
    .home-sci {
        width: 160px;
    }
    .home-sci a {
        width: 38px;
        height: 38px;
    }
}

@media (max-width: 462px) {
    .home-content h1 {
        font-size: 5.2rem;
    }
    .education {
        padding: 10rem 4% 5rem 5%;
    }
    .contact form .input-box .input-field {
        width: 100%;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width: 371px) {
    .home {
        justify-content: center;
    }
    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    
}


/*Keyframe animation Sections*/

@keyframes homeBgtext {
    0%,
    10%,
    100% {
        background-position: -30rem 0;
    }
    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursortext {
    0%,
    10%,
    100% {
        width: 0;
    }
    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }
    75%,
    81% {
        opacity: 0;
    }
}


@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}